body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}
header{
  display: flex;
  flex-direction: row;
 margin-bottom: 5px;
}
nav{

}
.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.search-box {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

#trailer-container {
  margin-top: 30px;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}