*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  
}
header{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: #550a0a;
 padding: 25px;
}
ul{
  display: flex;
 gap: 15px;
}
nav{

}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.container {
  text-align: center;
  margin: 0;
  width: 0 auto;
}

.search-box {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

#trailer-container {
  margin-top: 30px;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.icon-img-footer{
  width: 30px;
  margin: 8px;
}
.footer-project a{
  color: white;
}
footer{
  background-color: #550a0a;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 10px;
}